img {
    border-radius: 50%;
    opacity: 0.5;
    width: 100%;
    max-width: 500px;
}

img:active {
    transform: scale(0.9);
    transition: 0.5s;
}

body {
    margin: 0;
    font-family: Arial, sans-serif;
}
.header {
    position: fixed;
    top: 0;
    width: 100%;
    
    background-color: #f8f8f8;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #e7e7e7;
}
.header h1 {
    margin: 0;
}
.header a {
    color: #333;
    text-decoration: none;
}
.content {
    padding: 70px 10px;
}
.box {
    background-color: #eee;
    padding: 20px;
    margin-bottom: 10px;
    border-radius: 4px;
}
.header a{
    position:relative;
    right:2%;
}